body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* .leaflet-pane {
  position: absolute;
  left: 0;
  top: 0;
} */

.mcdonalds-marker-icon {
  background-color: #da291c;
  border: none;
  border-radius: 50%;
  padding: 6px;
}

.starbucks-marker-icon {
  background-color: white;
  border: none;
  border-radius: 50%;
}

.coffee-marker-icon {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
